<div class="about-me-container">
  <div class="about-me-text">
    <h2>About Me</h2>
    <p>
      Hello! I am Rishabh Kumar, a passionate and creative frontend developer based in Buxar.
      I have a strong background in building responsive and user-friendly web applications using modern
      technologies such as HTML, CSS, and TypeScript frameworks like Angular.
    </p>
    <p>
      My goal is to create beautiful and intuitive user interfaces that provide a seamless and enjoyable
      experience for users. I am always eager to learn and explore new technologies to enhance my skills
      and stay up-to-date with the latest trends in web development.
    </p>
    <a href="https://drive.google.com/file/d/11ylloUa_fdUZr5Y932m1eURG7yt1XsXs/view?usp=drive_link" class="resume-link"
      target="_blank">View My Resume</a>
    <div>
      <div class="project-card">
        <!-- <div class="project-image">
            <img src="path/to/project/image1.jpg" alt="Project 1 Image">
          </div> -->
        <div class="project-details">
          <h3>Consultant at Skillikz Technologies Pvt. Ltd.</h3>
          <p>
            Worked on The Car Loan Center Website increase 20% of
            Proficiency. Worked on Axle Hub Website
            Worked with Playwright Automation Testing
          </p>
          <!-- <a href="https://devaxle.thecarloancentre.co.uk/#/login" class="project-link" target="_blank">View Project</a> -->
        </div>
      </div>

      <div class="project-card">
        <!-- <div class="project-image">
            <img src="path/to/project/image2.jpg" alt="Project 2 Image">
          </div> -->
        <div class="project-details">
          <h3>Associate Trainee at Skillikz Technologies Pvt. Ltd</h3>
          <p>
            Worked on The Car Loan Center Website.
            Worked on UI Updating on TCLC Project 10% for user
            understandings.
            Course on cyber security Provided by Company.
          </p>
          <!-- <a href="https://www.thecarloancentre.co.uk/" class="project-link" target="_blank">View Project</a> -->
        </div>
      </div>
      <div class="project-card">
        <!-- <div class="project-image">
            <img src="path/to/project/image2.jpg" alt="Project 2 Image">
          </div> -->
        <div class="project-details">
          <h3>Intern at Delente Technologies Pvt. Ltd</h3>
          <p>
            Worked on copy of Profile of CraBike360.com Website UI implementation using React.
            <br>
            Learn React to develop UI.
          </p>
          <!-- <a href="https://www.thecarloancentre.co.uk/" class="project-link" target="_blank">View Project</a> -->
        </div>
      </div>
    </div>
    <div class="portfolio">
      <h2>My Skills</h2>
      <div class="skills">
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/d7ffcaf9-77e9-4dda-bed5-daf92ebf509e" alt="HTML icon">
          </a>
          <p>HTML</p>
        </div>
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/da20b39f-de03-49b5-8cd3-19d24a1bd1fd" alt="CSS icon">
          </a>
          <p>CSS</p>
        </div>
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/cac12de5-e1bd-41c0-9d6e-de82a9daf207" alt="Bootstrap icon">
          </a>
          <p>Bootstrap</p>
        </div>
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/99d463da-1f03-4cff-a206-e0eb1e7c5e0b" alt="Angular icon">
          </a>
          <p>Angular</p>
        </div>
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/a14bd9e1-7b77-4993-ae8f-d8648fef5f38" alt="JavaScript icon">
          </a>
          <p>JavaScript</p>
        </div>
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/309a59c7-a6a1-4441-b798-f3c7704d24df" alt="C programming icon">
          </a>
          <p>C Programming</p>
        </div>
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/986c5825-0325-46e0-975a-fa60a41815f1" alt="Playwright icon">
          </a>
          <p>Playwright Testing</p>
        </div>
        <div class="skill">
          <a href="">
            <img src="https://gist.github.com/assets/99909689/909ff2e8-83a3-4edf-a26c-f3b4d261fb99" alt="GitHub icon">
          </a>
          <p>GitHub</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-me-photo">
    <img
      src="https://gist.github.com/assets/99909689/327f4504-1b93-42d7-a0fc-57d281a94eb0"
      alt="Your Photo">
  </div>


  <!-- ---------------------------------------------------------------------------------------------------------------------------------- -->