<!-- <section id="about">
    <h2>About Me</h2>
    <p>Your introduction and skills go here...</p>
  </section>
   -->
<!-- 
   <div class="about-me">
    <h2>About Me</h2>
    <p>
      Hello! My name is [Your Name], and I am a passionate [Your Profession/Field] based in [Your Location]. I have a strong background in [Your Expertise].
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc justo. Nullam scelerisque risus ac urna dignissim hendrerit.
      Proin ac aliquam libero. Curabitur euismod sapien auctor, rhoncus massa nec, consequat odio. Suspendisse potenti.
    </p>
    <p>
      In my free time, I enjoy [Your Hobbies or Interests]. I am always eager to learn new things and explore different aspects of [Your Field].
      If you'd like to get in touch or collaborate, feel free to contact me at [Your Email Address].
    </p>
    <div class="frame-container">
    <img src="../assets/img/dev.jpg" alt="Your Photo">
    </div>
  </div> -->

<div class="about-me-container">
  <div class="about-me-text">
    <h2>About Me</h2>
    <p>
      Hello! I am Rishabh Kuamar, a passionate and creative frontend developer based in Buxar.
      I have a strong background in building responsive and user-friendly web applications using modern
      technologies such as HTML, CSS, and TypeScript frameworks like Angular.
    </p>
    <p>
      My goal is to create beautiful and intuitive user interfaces that provide a seamless and enjoyable
      experience for users. I am always eager to learn and explore new technologies to enhance my skills
      and stay up-to-date with the latest trends in web development.
    </p>
    <a href="https://drive.google.com/file/d/11ylloUa_fdUZr5Y932m1eURG7yt1XsXs/view?usp=drive_link" class="resume-link"
      target="_blank">View My Resume</a>
    <div>
      <div class="project-card">
        <!-- <div class="project-image">
            <img src="path/to/project/image1.jpg" alt="Project 1 Image">
          </div> -->
        <div class="project-details">
          <h3>Consultant at Skillikz Technologies Pvt. Ltd.</h3>
          <p>
            Worked on The Car Loan Center Website increase 20% of
            Proficiency. Worked on Axle Hub Website
            Worked with Playwright Automation Testing
          </p>
          <!-- <a href="https://devaxle.thecarloancentre.co.uk/#/login" class="project-link" target="_blank">View Project</a> -->
        </div>
      </div>

      <div class="project-card">
        <!-- <div class="project-image">
            <img src="path/to/project/image2.jpg" alt="Project 2 Image">
          </div> -->
        <div class="project-details">
          <h3>Associate Trainee at Skillikz Technologies Pvt. Ltd</h3>
          <p>
            Worked on The Car Loan Center Website.
            Worked on UI Updating on TCLC Project 10% for user
            understandings. 
            Course on cyber security Provided by Company.
          </p>
          <!-- <a href="https://www.thecarloancentre.co.uk/" class="project-link" target="_blank">View Project</a> -->
        </div>
      </div>
      <div class="project-card">
        <!-- <div class="project-image">
            <img src="path/to/project/image2.jpg" alt="Project 2 Image">
          </div> -->
        <div class="project-details">
          <h3>Intern at Delente Technologies Pvt. Ltd</h3>
          <p>
            Worked on copy of Profile of CraBike360.com Website UI implementation using React.
            <br>
            Learn React to develope UI.
          </p>
          <!-- <a href="https://www.thecarloancentre.co.uk/" class="project-link" target="_blank">View Project</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="about-me-photo">
    <img src="../assets/img/dev.jpg" alt="Your Photo">
  </div>