<!-- <section id="projects">
    <h2>Projects</h2> -->
<!-- Display your projects here -->
<!-- </section> -->

<!-- weather-app.component.html -->
<div class="projects">
    <div>
        <h2>Google Login Integration in Angular (03/2024 - 04/2024)</h2>
        <p>
            Implemented Google login functionality in an Angular application without using any external packages. Users
            can sign in to the application using their Google accounts, providing a seamless authentication experience.
        </p>
        <span>
            <p><b>Additional Information:</b></p>
            <div *ngIf="showMore">
                
                <p>
                    <b>Key Features:</b>
                    Google OAuth Integration: Integrated Google OAuth authentication mechanism directly into the Angular
                    application.
                    User Authentication: Allows users to authenticate using their Google accounts, ensuring secure access to
                    the application.
                    State Management: Implemented state management to handle user sessions and authentication status within
                    the Angular application.
                    Secure Communication: Ensured secure communication between the Angular frontend and the backend server
                    to exchange authentication tokens and user information.
                    Technologies Used:
                    Angular: Frontend framework used to develop the application.
                    Google OAuth API: Utilized Google OAuth API to authenticate users.
                    HTML/CSS/JavaScript: Used for frontend development and user interface design.
                    TypeScript: Programming language used for Angular application development.
                
                    Successfully implemented Google login functionality without relying on external packages or libraries,
                    showcasing proficiency in Angular and OAuth integration.
                </p>
            </div>
           
        </span>
        <button (click)="toggleMore()">{{ showMore ? 'Read Less' : 'Read More' }}</button>
    </div>
    <div>
        <h2>Weather App (12/2023 - 01-2024)</h2>
        <p>
            App is the application of science and technology to predict the
            conditions of the atmosphere for a given location and time.
        </p>
    </div>

    <div>
        <h2>Apna Bazaar (12/2022 - 01/2023)</h2>
        <p>
            Apna Bazar is the E-commerce websites. It is the activity of online
            selling of the Grocery and Gift product on online service over the
            Internet.
        </p>
    </div>

    <div>
        <h2>Carbike360 Clone (08/2022 - 09/2022)</h2>
        <p>
            A social platform where users get connected and share there
            experience and etc.. frontend part developed by me with react Js fully
            responsive.
            GitHub link- https://github.com/RatingRishu/My-task.git
        </p>
    </div>
    <div>
        <h2>Android application for contact management, (05/2021 - 09/2021)
        </h2>
        <p>
            An Android application to manage the contact in phone where we can
            save delete or update our contacts easily.
        </p>
    </div>
    <div>
        <h2>Axle Hub and The Car Loan Center (Office Projects)</h2>
        <p>
            Worked on The Car Loan Center Website increase 20% of Proficiency. Worked on Axle Hub Website Worked with
            Playwright Automation Testing.
        </p>
    </div>
</div>